<header>
  <h2>Welcome <%= @user.user_name %></h2>
</header>

<div class="question-list">
  <h3>Your Questions and Answers</h3>
    <% @user.questions.order("id ASC").uniq.each do |question| %>
      <h3><%= question.show_month %>/<%= question.show_day %> - <%= question.question %></h3>
        <% question.answers.each do |answer| %>
        <% if answer.user == @user %>
          <p><%= answer.created_at.strftime("%Y:") %> <%= answer.answer %> - 
          <%= answer.tag_list %></p>
          <!-- Tags: <%= raw answer.tags.map { |t| link_to t.name, tag_path(t.name) }.join(', ') %> --> 
        <% end %>
      <% end %><hr>
    <% end %>
  </div>


<!-- .order(question_id: :DESC) -->