<%= form_for [@daily, @answer] do |answer| %>

  <% if @answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% @answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3><%= answer.label :answer, "Submit Your Answer", :class => "answer-txt" %></h3><br>
  <%= answer.text_area :answer, :class => "answer" %>

  <h3><%= answer.label :tags, "Tags (separate by commas, use '-' with multi-word tags)"%></h3><br>
  <%= answer.text_field :tag_list, :class => "tags" %><br><br>

  <%= answer.submit 'Add Your Answer', :class => 'answer-sub'%>
<% end %>


