<!DOCTYPE html>
<html>
<head>
  <title>AnnualliMon</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <ul>
    <li>
      <% if user_signed_in? %> 
        Welcome back!  <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Sign In', new_user_session_path %>
      <% end %>
      |  </li>
    <li><%= link_to 'Answer Today\'s Question', root_path %>  |  </li>
    <li><%= link_to 'See All Questions', questions_path %>  |  </li>
    <li><% if @user == current_user %>
      <%= link_to 'See Your Answers', user_path %></li>
      <% end %>
  </ul>
</nav>


  

<%= yield %>
<!-- <BR><BR>
<footer>Created by <a href="http://mandym.com">Mandy Moore</a> for General Assembly WDI
</footer> -->
</body>
</html>
